#solver-pages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.solver-side-page {
    width: 40%;
}
.clauses {
    display: flex;
    flex-wrap: wrap;
    min-height: 800px;
}
