.assignment{
    margin:5px;
    background-color: #ccc;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 500ms;
    cursor: pointer;
}
.assignment:hover{
    background-color: #eee;
}
.assignment-overline{
    text-decoration: overline 3px;
}
#assignments, #implied-assignments{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
