.assignment{
    margin:5px;
    background-color: #bbb;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 500ms;
    cursor: pointer;
}
.assignment:hover{
    background-color: #ddd;
}
